<h3>Añadir comentario</h3>
<form id="quizCommentCRUDForm" action="/quizes/<%=quizId %>/comments/create" method="post" class="filtros">
	<input type="text" id="texto" name="comment[texto]" value="" /><br />
	<button type="submit">Enviar</button>
</form>
