*                  {margin: 0; padding: 0;}
body               {font: 16px Georgia, serif;}

#page-wrap         { margin: 2%; color: white; }
#page-wrap > .main { border: 1px solid #999; padding: 1%;
                     margin-bottom: 1px; color: black;}

section > div        { padding: 20px; }                     
header, nav, section { background: #eee; text-align: center; }
nav, span            { margin: 0px 10px 0px 0px}

#ErrorMsgs{color: #f61; font-size: smaler}

img.portrait         {vertical-align: text-top; }

section p{ text-align: left;}

li{text-align: left;}
hr{margin-top: 20px; margin-bottom: 20px; margin-left: 5px;margin-right: 5px}

form.filtros input[type="text"]{width: 80%}

span.patron{
	background-color: grey;
	color: white;
	font-style: italic;
	padding-right: 15px;
	padding-left: 15px;
}

a.pregunta{margin-right: 10px}

.inline{display: inline; color:red;}

.right {float: right;}
