
<form id="quizSearchForm" action="/quizes" method="get" class="filtros">
	<p>
		<label for="searchField" form="quizSearchForm">Busque una pregunta:</label>
		<input type="text" id="searchField" name="search" placeholder="Patrón de búsqueda. Utilice '%' como comodín de la búsqueda"  />
		<input type="submit" value="Buscar"/>
	</p>
</form>

<hr />

<% if(quizes.length>0){ %>
	<ul>
		<% var i; for(i=0; i<quizes.length; i++){ %>

			<li><a href="./<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></li>
		
		<% } %>
	</ul>
<% } else{ %>

<p> No se han encontrado respuestas para el patrón de búsqueda que ha introducido: <span class="patron"><%= filtro %></span> </p>

<% } %>