<form method="get" action="/quizes/<%= pregunta.id %>/answer">
	<p>Pregunta: <%= pregunta.pregunta %></p>
	<p>
		<input type="text" name="respuesta" value="Respuesta" />
		<input type="submit" value="Enviar" />
	</p>
</form>
